{% extends "base.html" %}

{% block title %} - Отправить{% endblock title %}

{% block content %}
	<section class="section feedback_section">
		<h1 class="h1">Сообщение для меня</h1>

		<form class="feedback_form common_form" action="{% url 'feedback' %}" id="feedbackForm" method="POST" novalidate>
			{% csrf_token %}	

			<div class="cell input_outer">
				<label class="label">{{ feedback_form.username.label }}</label>

				{{ feedback_form.username }}

				{{ feedback_form.username.errors }}
			</div>	

			<div class="cell input_outer">
				<label class="label">{{ feedback_form.subject.label }}*</label>

				{{ feedback_form.subject }}

				{{ feedback_form.subject.errors }}					
			</div>	

			<div class="cell input_outer">
				<label class="label">{{ feedback_form.email.label }}*</label>

				{{ feedback_form.email }}

				{{ feedback_form.email.errors }}					
			</div>										
			
			<div class="cell textarea_outer">
				<label class="label">{{ feedback_form.message.label }}*</label>

				{{ feedback_form.message }}

				{{ feedback_form.message.errors }}					
			</div>	

			<div class="cell submit_outer">
				<input class="btn btn-default" id="formFeedbackGuestSubmit" type="submit" value="Отправить" /> 
			</div>													
	    </form>	
    </section>
{% endblock content %}
