{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock title %}</title>ее

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />  
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container search_area width1000 navbar-fixed-top row">
                <div class="col-xs-7 search_block">
                    <div class="nav navbar-nav">
                        <a href="{% url 'index' %}">index</a>
                        <a href="{% url 'feedback' %}">feedback</a>
                    </div>
                </div>

                <div class="col-xs-5 auth_block clearfix">
                    zxz             
                </div>            
            </div>
        </nav>   

        <div class="container content_area width1000">
            {% block content %}{% endblock content %}
        </div>        

        <div class="footer footer_area width1000">
            <div class="container width1000">
                <div id="navbar" class="collapse navbar-collapse">
                    <div class="copyright">© Сергей Калинин 2014</div>
                </div>
            </div>
        </div>


  

    </body>
</html>
